* {
  padding : 0;
  margin : 0;
}

html , body {
  text-align: center;
  background-color: antiquewhite;
}

h1 {
  margin: 10px auto;
}

.button-wrapper {
  display: inline;
}

img {
  width : 150px;
  height : 150px;
  cursor: pointer;
  margin:20px 10px;
}


#pcImg {
  width : 130px;
  height : 130px;
  background-color: white; 
  padding: 10px;
  cursor: unset;

}

#button {
  margin : 10px auto;
  height: 30px;
  width: 120px;
}

.point {
  margin : 30px auto;
}

#nextRound {
  width: 120px;
  height: 30px;
  background-color: rgb(27, 196, 27);
  font-weight: 700;
}

#reset {
  font-size: 0.7rem;
  color: white;
  background-color: red;
  width: 50px;
  height: 20px;
  margin: 0 auto;
}